html,
body {
  font-size: 62.5%;
}
main {
  width: 100%;
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1.8rem;
}